a.down_arrow{margin:-10px 5px 0 0;}
.next{ margin:-20px 0 0 0;}
footer{padding:15px 0 0 0;}
.clender_con{left:6px !important;}
ul.cat a{ margin:-20px 5px 0 0;}
.view{ width:253px !important;}
.view a{ float:left !important;}