<div></div>
 <br>
<div>
  <% @product_category.each do |cgy| %>
      <% @category_products= find_subcategory(cgy.id) %>
  <% end %>

  <%if !@category_products.empty? %>
       <%= select_tag :category_subcategory, options_from_collection_for_select(@category_products, "category_name", "category_name"), :prompt => "Select Subcategory", :id=>"category_sub_subcategory_" %>
  <% end %>

</div>